Hi <%= @user.name %>,

Thanks for registering! To confirm your registration click the URL below.

<%= "https://qatros-blog.netlify.app/email_confirmation/#{@user.id}/#{@user.confirm_token}" %>

Thanks,

The Team